.elixir_ls
.git
.gitconfig
.gitignore
.gnupg
.hex
.mix
.env

.devcontainer
.vscode
.vscode-server

.dockerignore
.earthignore

LICENSE
README.md

assets/node_modules
# test
deps
_build
build
tmp

ecs
deploy
container

artifacts

erl_crash.dump

