.elixir_ls
.git
.gitconfig
.gitignore
.gnupg
.hex
.mix
.env

.devcontainer
.vscode
.vscode-server

.dockerignore
.earthignore

assets/node_modules
# test
deps
_build
build
tmp

ecs
deploy
container

artifacts
assets
bin
build
config
container
lib
priv
rel
test

erl_crash.dump
