---
version: "3.9"
services:
  test:
    image: ${REGISTRY}${IMAGE_OWNER}/${IMAGE_NAME}:test
    environment:
      - MIX_ENV=test
      - DATABASE_URL
      - DATABASE_HOST=postgres
      - DATABASE_DB
      - SECRET_KEY_BASE
    # stdin_open: true
    # tty: true
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - "./junit-reports:/app/_build/test/junit-reports"

  # https://github.com/docker-library/docs/blob/master/postgres/README.md
  # https://geshan.com.np/blog/2021/12/docker-postgres/
  postgres:
    image: ${PUBLIC_REGISTRY}postgres:14.1-alpine
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres_data_path:/var/lib/postgresql/data
      # - ./db/init.sql:/docker-entrypoint-initdb.d/create_tables.sql
    healthcheck:
      # test: ["CMD-SHELL", "pg_isready -U postgres -d app_test"]
      test: ["CMD-SHELL", "pg_isready"]
      start_period: 5s
      interval: 2s
      timeout: 5s
      retries: 20

  mssql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      ACCEPT_EULA: "Y"
      SA_PASSWORD: some!Password
    ports:
      - "1433:1433"

  mysql:
    image: "${PUBLIC_REGISTRY}mysql:8"
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      # MYSQL_ROOT_PASSWORD: example
    # command: --default-authentication-plugin=mysql_native_password
    ports:
      - "3306:3306"

volumes:
  postgres_data_path:
    driver: local
